a:hover {
  text-decoration: none;
}
.fun_div {
  background: #4cb3f1;
  width: 150px;
  height: 150px;
  cursor: pointer;

  & img {
    width: 50px;
  }

  & div {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
    color: #fff;
  }
}

.nav-item{
  font-size: 14px;
}

.navber-menu > div{
  padding: 0 20px;
  color: #777;
  cursor: pointer;
  &:hover{
    color: #000;
  }
}
.index_div > a{
  display: inline-block;
  margin-top:4px;
}

.logout{
  cursor: pointer;
}